.sale{
	display: inline-block;
	padding: rem(9) rem(20);
	background-color: $red;
	color: $white;
	text-transform: uppercase;
	font-size: rem(15);
	&:hover{
		background: $blue;
	}
}
p{
	font-size: rem(18);
	color: $black;
	margin-bottom: rem(30);
	line-height: rem(25);
}