footer{
	background: $black url('../images/footer-background.png');
	padding: 80px 0px 40px;
	position: relative;
	background-size: contain;
    background-position: center rem(35);
    background-repeat: no-repeat;
    @include media-breakpoint-down(sm){
    	padding-top: rem(30);
    }
	.footer-middle{
		margin-top: 45px; 
		@include media-breakpoint-down(sm){
    	margin-top: rem(10);
    	}
		 a{
		 	display: table;
		 	margin: 0 auto;
		 }
		 .copy-right-text{
		 	color: #aeaeae;
		 	font-size: rem(11);
		 	text-align: center;
		 	margin-top: rem(25);
		 	font-weight: $font-weight__regular;
		 }
	}
	nav{
		&.footer-nav{
			ul{
				list-style: none;
				padding-left: 0px;
				li{
					margin: rem(12) 0px;
					a{
						color: #828282;
						font-size: rem(15);
						text-transform: uppercase;
						line-height: 1;
						font-weight: $font-weight__regular;
						&.sale{
							color: $white;
							&:hover{
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
	.social{
		text-align: center;
		margin-top: rem(20);
		li{
			display: inline-block;
			margin-top: rem(10);
			a{
				color: $white;
				font-size: rem(35);
				&:hover{
					color: $red;
				}
			}
		}
	}
	.right-footer{
		@include media-breakpoint-down(sm){
			text-align: center;
		}
		.call-us{
			font-size: rem(18);
			color: #ababab;
			text-transform: uppercase;	
			font-weight: $font-weight__regular;
			margin-bottom: 15px;
		}
		.footer-tel{
			color: #f3f3f3;
			font-size: rem(24);
			font-weight: $font-weight__semiBold;
			@include media-breakpoint-down(lg){
				font-size: rem(22);
			}
		}
		.mail-icon{
			color: #ababab;
			font-size: rem(22);
		}
		.footer-mail{
			color: #f3f3f3;
			font-size: rem(18);
			text-decoration: underline;
		}
		.footer-tel-holder{
			margin-bottom: rem(50);

			@include media-breakpoint-down(sm){
				margin-bottom: 10px;
			}
		}
	}
}

.banner{
	position: relative;
	&:after{
		position: absolute;
		bottom: -166px;
		height: 170px;
		width: 306px;
		background: url('../images/after-banner.png');
		content: '';
		margin-left: 147px;
		background-size: contain;
		background-repeat: no-repeat;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		z-index: -1;
		@include media-breakpoint-down(md){
			bottom: -169px;
			width: 240px;
			margin-left: 60px;
		}
		@include media-breakpoint-down(sm){
			display: none;
		}
	}
}