header{
	padding: rem(30) rem(20) rem(30) rem(40);
	background: $white;
	@include media-breakpoint-down(lg){
		padding: 10px 20px;
	}
	@include media-breakpoint-down(sm){
		padding: 0px 5px;
	}
	nav{
		.navbar-brand{
			position: absolute;
			top: 0;
			left: 0px;
			z-index: 999;
			@include media-breakpoint-down(lg){
				width: 115px;
				position: static;
			}
			@include media-breakpoint-down(sm){
				
			}
		}
		.navbar-toggler{
			background: $blue;
			padding: 5px 10px;
			font-size:rem(17);
			i{
				color: $white;
			}
		}
		&.navbar{
			.navbar-nav{
				li{
					&.nav-item{
						&.active{
							a.nav-link{
								color: $black;
								font-weight: $font-weight__semiBold;
							}
						}
						a{
							&.nav-link{
								text-transform: uppercase;
								color: #7d7d7d;
								font-size: rem(15);
								font-weight: $font-weight__regular;
								margin: 0px 20px;
								&:hover{
									color: $black;
								}
								&.red{
									color: red;
									&:hover{
										color: $blue;
									}
								}

								@include media-breakpoint-down(md){
									font-size: rem(13);
									margin: 0px 12px;
								}
							}
						}
						&.dropdown{
							&.show{
								.dropdown-toggle{
									&:after{
										content: '\f068';
									}
								}
							}
						.dropdown-menu{
								text-transform: uppercase;
								color: #7d7d7d;
								font-size: rem(12);
								font-weight: $font-weight__regular;
								a{
									padding: 5px 15px;
								}
								.dropdown-item.active, .dropdown-item:active{
									background-color: transparent;
									color: #7d7d7d;
								}
							}
							.dropdown-toggle{
								position: relative;
								&:after{
									content: "\f067";
									border: 0px;
									font: normal normal normal 11px FontAwesome;
									position: absolute;
									top: 10px;
									right: -16px;
									@include media-breakpoint-down(md){
										right: -3px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


.searchbox{
    position:relative;
    min-width:50px;
    width:0%;
    height:40px;
    float:right;
    overflow:hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    @include media-breakpoint-down(md){
    		width: 100%;
    }
    .searchbox-input::-webkit-input-placeholder {
    	color: $white;
    	opacity: 1;
		}
		.searchbox-input:-moz-placeholder {
		    color: $white;
		    opacity: 1;
		}
		.searchbox-input::-moz-placeholder {
		    color: $white;
		    opacity: 1;
		}
		.searchbox-input:-ms-input-placeholder {
		    color: $white;
		    opacity: 1;
		}
}
.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:transparent;
    width:0;
    height:40px;
    border-radius: 20px;
    margin:0;
    padding:0px 0px 0px 0px;
    background-color: $blue;
    font-size:rem(13);
    color: $white;
    @include media-breakpoint-down(md){
		width: 100%;
		padding-left: rem(20);
    }
}
.searchbox-open{
	width: 195px;
	.searchbox-input{
		width: 100%;
		padding-left: 20px;
	}
}
.searchbox-icon,
.searchbox-submit{
    width:40px;
    height:40px;
    border-radius: 50%;
    display:block;
    position:absolute;
    top:0;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:rem(37);
    text-align:center;
    cursor:pointer;
    background: $blue;
    i{
    	color: $white;
    	font-size: rem(17);
    }
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

header nav.navbar .navbar-nav li.nav-item.dropdown:hover .dropdown-toggle:after{
	content: '\f068';
}